<div class="container-lg mt-5 mb-5">
  <div class="row">
    <div class="col-4">
      <img
        src="../../assets/images/Pinch-of-Yum-Logo.png"
        routerLink="/home"
        alt="Pinch of Yum logo"
        style="width: 16rem; cursor: pointer"
      />
    </div>
    <div class="col-8 align-self-center">
      <ul
        class="nav justify-content-end align-self-center"
        style="font-weight: bold; color: black"
      >
        <li class="nav-item">
          <a class="nav-link font active" routerLink="/home" aria-current="page"
            >HOME</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link font" routerLink="/about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font" routerLink="/recipes">RECIPES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font" routerLink="/contact">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</div>
