<h5 class="text-center">Stay in touch!</h5>
<div class="p-5 d-flex justify-content-around">
  <a href="https://www.facebook.com/">
    <img
      src="../../assets/images/facebook-icon.svg"
      onclick='window.open("http://www.facebook.com");return false;'
      alt="Facebook logo"
    />
  </a>
  <a href="https://www.instagram.com/">
    <img
      src="../../assets/images/instagram-icon.svg"
      onclick='window.open("http://www.instagram.com");return false;'
      alt="Instagram logo"
    />
  </a>
  <a href="https://www.twitter.com/">
    <img
      src="../../assets/images/twitter-icon.svg"
      onclick='window.open("http://www.twitter.com");return false;'
      alt="Twitter logo"
    />
  </a>
</div>
